@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";
@import "blocks/header";
@import "blocks/adaptuvne__menu";

html,
body {
  height: 100%;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form {
    &__control {
      margin-bottom: 10px;
      position: relative;
      margin: 20px 0 40px;
      width: 300px;
      input {
        background-color: transparent;
        border-bottom: 2px solid #fff;
        display: block;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        color: white;
        margin-bottom: 5px;
        &:focus,&:valid{
          border-bottom:2px solid lightblue;
        }
        &:focus + label span,
        &:valid + label span {
          color: lightblue;
          transform: translateY(-30px);
          transition: 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
        }
      }
      label {
        position: absolute;
        top: 15px;
        left: 0;
        span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
        }
      }
    }

    &__text {
      a {
        color: lightblue;
      }
    }
  }
  .btn {
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: lightblue;
    &:active {
      transform: scale(0.98);
    }
  }
}
